/*Import Font*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
/*Whole page rules*/
* {
    margin: 0;
    padding: 0;
    border: none;
    }

body{
    font-family:Oxygen;
    font-weight:300;
    text-align:center;
    background-color: grey;
}

#main-body{
    width:65%;
    min-width:300px;
    margin:auto;
    background-color:white;
}
h2{
    letter-spacing: 4px;
}
/*Header*/

header{
    padding:15px;
    margin:auto;
    letter-spacing: 4px;
}

ul{
    padding:15px;
    margin:auto;
}
nav a{
    padding:10px;
}

#menu li{
    display:inline;
}

a {
    text-decoration: none;
    color: inherit;
}
/*Hero image section */

#hero-image{
    height: 650px;
    width: 90%;
    margin:auto;
    background: url('../assets/images/hero-image.jpeg') no-repeat center center;
}

#cover-text{
    width:30%;
    min-width:200px;
    height:130px;
    padding:10px;
    margin:auto;
    border-style: solid;
    border-width: 1px;
    border-color:white;
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#cover-text h2{
    padding: 45px 0;
}


/*About section */

#about{
    height: 400px;
    width: 90%;
    margin:auto;
    margin-bottom:100px;
    padding:30px;
}

#about h2{
    padding:30px;
}

#about-image{
    height: 400px;
    width: 45%;
    margin:auto;
    background: url('../assets/images/about-image.jpeg') no-repeat center center;
    background-size: 100% auto;
    float:left;
}

#about-text{
    width: 45%;
    height: 400px;
    margin-right:25px;
    overflow:auto;
    text-align:right;
    float:right;
}

/*Links section*/

#links{
    height: 100px;
    width: 65%;
    margin:auto;
}

.menu-reservations-links{
    height:50px;
    width:40%;
    border-color: black;
    border-style:double;
    border-width:1px;
}
#menu-link{
    float:left;
}
#menu-link h3, #reservations-link h3, #home-link h3{
    padding: 15px 0;
}

#reservations-link{
    float:right;
}

#home-link{
    height: 50px;
    width:30%;
    margin:auto;
    border-color: black;
    border-style:double;
    border-width:1px;
    margin-bottom:20px;
}

/*Opening hours section */

#hours{
    height: 200px;
    margin:auto;
    padding:20px;
}

#hours h2{
    padding-bottom:30px;
}
table{
    margin:auto;
}
td{
    padding:10px;
}

/*Footer with contact links*/

footer{
    background-color: #4d99b3;
}

footer h4{
    padding:30px;
}

footer td{
    padding:30px;
}
/*
/*Menu Page*/
.menu-image{
    width:30%;
}
/*Food menu section*/
#food{
    width:50%;
    min-width:200px;
    margin:auto;
    padding:50px;
}

#food h3{
    padding:15px;
}

#food p{
    padding:15px;
    font-style: italic;
}
/*Reservations Page*/

#reservations-image{
    height: 650px;
    width: 90%;
    margin:auto;
    background: url('../assets/images/reservations-image.jpeg') no-repeat center center;
    margin-bottom:30px;
}
form{
    margin-top:30px
}
input {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-color:darkgray;
  }

  input[type=submit]:hover{
    border-style: solid;
    border-width: 1px;
    border-color:black;
    cursor: pointer;
}

label{
    float:right;
}


/*Form Response Page */

#form-message{
      height:300px;
}










