html{
    text-align:center;
    background-color: grey;
}


#main-body{
    width:65%;
    margin:auto;
    background-color:white;
}

#hero-image{
    height: 650px;
    width: 90%;
    margin:auto;
    background: url('../assets/images/hero-image.jpeg') no-repeat center center;
}

#about{
    height: 500px;
    width: 90%;
    margin:auto;
}

#about-image{
    height: 400px;
    width: 45%;
    margin:auto;
    background: url('../assets/images/about-image.jpeg') no-repeat center center;
    float:left;
}

#links{
    height: 100px;
    width: 65%;
    margin:auto;
}

.menu-reservations-links{
    height:50%;
    width:49%;
}

#menu-link{
    float:left;
}

#reservations-link{
    float:right;
}

#hours{
    height: 200px;
    width:30%;
    margin:auto;
}








